<%- include("partials/header_main.ejs")%>

<div class="container">
    <p> press the mode you wanna open </p>
    <div class="links">
      <li><a type="button" href="/home">home</a></li>
      <li><a type="button" href="/work">work</a></li>
    </div>

</div>


<%- include("partials/footers.ejs")%>

